<div class="container">
  <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="panel-title">Company Recrutment Form</div>
      </div>
      <div class="panel-body">
        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
        <form [formGroup]="companyForm" class="form-horizontal" role="form">








          <div class="input-group">
            <span class="input-group-addon">
              <i class="glyphicon glyphicon-user"></i>
            </span>
            <input formControlName="companyName" placeholder="Company Name" type="text" class="form-control">
          </div>
          <div class="input-group">
            <span class="input-group-addon">
              <i class="glyphicon glyphicon-user"></i>
            </span>
            <input formControlName="companyLink" type="text" placeholder="Company Link" class="form-control">
          </div>
          <div class="input-group">
            <span class="input-group-addon">
              <i class="glyphicon glyphicon-user"></i>
            </span>
            <input formControlName="date" type="date" placeholder="Date" class="form-control">
          </div>



          <div formArrayName="positions" *ngFor="let position of positions.controls;let i=index;">
            <div [formGroupName]="i">
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="glyphicon glyphicon-user"></i>
                </span>
                <input formControlName="position" placeholder="Position" type="text" class="form-control">
              </div>
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="glyphicon glyphicon-user"></i>
                </span>
                <input formControlName="ctc" type="text" placeholder="CTC" class="form-control">
              </div>
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="glyphicon glyphicon-user"></i>
                </span>
                <input formControlName="Qualifications" placeholder="Qualification" type="text" class="form-control">
              </div>


              <div formArrayName="rounds" *ngFor="let round of rounds.controls;let j=index;">
                <div [formGroupName]="j">
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="glyphicon glyphicon-user"></i>
                    </span>
                    <input formControlName="name" type="text" placeholder="Round Name" class="form-control">
                  </div>
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="glyphicon glyphicon-user"></i>
                    </span>
                    <input formControlName="discription" placeholder="Round Description" type="text" class="form-control">
                  </div>
                </div>
              </div>

              <div class="input-group">
                <button type="button" class="btn btn-primary" (click)="addRounds()">Add Rounds</button>
              </div>

              <div formArrayName="depts" *ngFor="let round of department.controls;let d=index;">
                <div [formGroupName]="d">
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="glyphicon glyphicon-user"></i>
                    </span>
                    <input formControlName="name" type="text" placeholder="Department Name" class="form-control">
                  </div>
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="glyphicon glyphicon-user"></i>
                    </span>
                    <input formControlName="skills" type="text" placeholder="Skills" class="form-control">
                  </div>
                </div>
              </div>

              <div class="input-group">
                <button type="button" class="btn btn-primary" (click)="addDepartments()">Add Depertments</button>
              </div>

              <div class="input-group">
                <span class="input-group-addon">
                  <i class="glyphicon glyphicon-user"></i>
                </span>
                <input formControlName="description" placeholder="Description" type="text" class="form-control">
              </div>

              <hr>
              <hr>
            </div>
          </div>

          <div class="input-group">
            <button type="button" class="btn btn-primary" (click)="addPositions()">Add Positions</button>
          </div>

          <hr>
          <div formArrayName="JobLocations" *ngFor="let location of JobLocations.controls;let k=index;">
            <div [formGroupName]="k">
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="glyphicon glyphicon-user"></i>
                </span>
                <input placeholder="Search for Location" (keyup)="0" type="text" #search formControlName="location" class="form-control">




                <div *ngFor="let item of selected;let s=index;">
                  <div class="selected">
                    <span>{{item}}</span>
                    <a (click)="remove(s)">x</a>
                  </div>
                </div>





              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12 controls">
              <a id="btn-login" href="#" class="btn btn-success">Login </a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>



<p>Form value: {{ companyForm.value | json }}</p>
<p>Form Validity: {{companyForm.controls['companyName'].valid}}</p>